.page-header {
  display: block;
  background-color: @gray;
  opacity: 0.1;
}

.site-list {
  list-style: none;
  color: @white;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  background-color: @gray;
}

.main-nav__toggle--open {
  fill: @white;
  height: 24px;
  width: 50px;
}

.main-nav__toggle--close {
  fill: @white;
  height: 23px;
  width: 23px;
}
